.home{
  overflow: hidden;
background-color: white;
}
.homp1{
  height: 150vh;
  width: 60%;
}
.homp2{
  height: 100vh;
  width: 50%;
}
.homp3{
  background-size: auto;
  height: 70vh;
  width: 50%;
  float: right;
}
.homp4{
  height: 110vh;
  width: 50%;
  float: left;
}
.homp5{
  height: 100vh;
  width: 50%;
  float: right;
}

.navbar{
  position: fixed;
  overflow: hidden;
  height: 10vh;
  width: 100%;
}
.navbar.active{
  background: linear-gradient(90deg, rgb(255,255,255)0%, rgb(255,255,255)100%);
  
}

.inbar{
  background-color: red;
  width: 40%;
  float: right;
  height: 100vh;

}





.homp4{
  height: 200vh;
  width: 50%;
}

