/* homecss */
.home {
  margin-top: 4vh;
  overflow: hidden;
  background-color: white;
}
.homp1 {
  height: 150vh;
  width: 60%;
}
.homp2 {
  height: 100vh;
  width: 50%;
}
.homp3 {
  background-size: auto;
  height: 70vh;
  width: 50%;
  float: right;
}
.homp4 {
  height: 110vh;
  width: 50%;
  float: left;
}
.homp5 {
  height: 100vh;
  width: 50%;
  float: right;
}
/* navbarcsss */
.navbar {
  position: fixed;
  overflow: hidden;
  height: 15vh;
  width: 100%;
  box-shadow: 1px 1px 3px grey;
}

.navbar.active {
  background: linear-gradient(
    0deg,
    rgb(248, 245, 248) 0%,
    rgb(248, 245, 248) 0%
  );
  top: 0%;
}
.icon3{
  margin-left: 40%;
  margin-top: 5vh;
}
/* @font-face {
  font-family:"Sofia", sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong");
} */
.logo{
  font-family:"Sofia", sans-serif;
}
h7 {
  display: inline-block;
  margin-left: 5%;
  padding-top: 3vh;
  font-size: 2vw;
  color: black;
}
/* navtwocss */
.navtwo {
  align-items: center;
  background-color: black;
  width: 100%;
  height: 7vh;
  margin-top: 15vh;
  color: white;
}
.shipping {
  text-align: center;
  padding-top: 2vh;
}
/* navonecss */
.navone {
  width: 100%;
  height: 6vh;
}
.icon1{
  margin-bottom:3vh;
  float: right;
}
.icon2{
  margin-left: 52%;
  float: right;
  margin-bottom:3vh;
}
/* inbarcss */
.inbar {
  width: 40%;
  float: right;
  height: 100vh;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

h5 {
  margin-top: 60%;
  margin-left: 30%;
  font-size: 2vw;
  color: black;
}
/* footer css */
.footer {
  box-shadow: 1px 1px 3px grey;
  margin-top: 20vh;
  height: 75vh;
  opacity: 1;
  overflow: hidden;
  bottom: 0;
  opacity: 1;
  width: 100%;
}
.cright{
  margin-top: 40vh;
  text-align: center;
}
.iconic{
  margin-left: 70%;
  margin-top: 2vh;
}
h4{
  text-align: center;
}
.lp{
  text-align: center;
}
.location{
  
  width: 13%;
  float: right;
  margin-top: 6vh;
  margin-right: 1vh;
}
.icons{
  margin-left: 5%;
  margin-top: 2vh;
}
hr{
  background-color: black;
  margin-top: 30vh;
  height: 0.2vh;
  width: 50%;
}
.nav{
  float: left;
  height: 40vh;
  width: 10%;
  background-color: aqua;
}
.fp{
  text-align: center;
}
/* fashion css */
.fashion {
  
  width: 100%;
}
.shops{
  text-align: center;
  margin-top: 5vh;
}
.container {
  height: 70vh;
  margin-top: 10vh;
  margin-bottom: 10vh;

}


.container > div {
  background-color: rgb(215, 210, 210);
  margin: 0.9vh;
  margin-right: 6vh;
  padding: 10px;
  height: 50vh;
  width: 26%;
  min-width: 39vh;
  float: right;
}
/* blog css */
.flex-container {
  height: 50vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.flex-container > div {
  background-color: rgb(215, 210, 210);
  margin: 0.9vh;
  margin-right: 6vh;
  padding: 10px;
  height: 50vh;
  width: 26%;
  min-width: 39vh;
  float: right;
}
.blogs{
  text-align: center;
  margin-top: 5vh;
}

/* trendy css */
.trending{
  text-align: center;
  margin-top: 5vh;
}
