.App{
  height: 450vh;
  overflow: hidden;
}
.home{
  margin-top: 4vh;
  overflow: hidden;
background-color: white;
}
.homp1{
  height: 150vh;
  width: 60%;
}
.homp2{
  height: 100vh;
  width: 50%;
}
.homp3{
  background-size: auto;
  height: 70vh;
  width: 50%;
  float: right;
}
.homp4{
  height: 110vh;
  width: 50%;
  float: left;
}
.homp5{
  height: 100vh;
  width: 50%;
  float: right;
}

.navbar{
  position: fixed;
  overflow: hidden;
  height: 10vh;
  width: 100%;
  box-shadow: 1px 1px 2px grey;
}
.navbar.active{
  background: linear-gradient(90deg, rgb(232, 184, 235)0%,rgb(232, 184, 235)100%);
  
}
h7{
  margin-left:30%;
  margin-top:20vh;
  font-size: 2vw;
  color: black;
}
.navtwo{
  align-items: center;
  background-color:black;
  width:100%;
  height: 6vh;
  margin-top: 10vh;
  color: white;
}
.navone{
  
  width:100%;
  height: 6vh;
}
.inbar{
  /* background-color: red; */
  width: 40%;
  float: right;
  height: 100vh;

}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}


h5{
  margin-top: 70vh;
  margin-left:30% ;
  font-size: 2vw;
  color: black;
}

.footer {
  box-shadow: 3px 3px 2px 4px grey;
  margin-top: 10vh;
  height: 83vh;
  opacity: 0.1;
  overflow: hidden;
  bottom: 0;
  opacity: 1;
  width: 100%;
  
}








